.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 100%;
  border: rgb(44, 44, 44) solid 7px;
}

.sidenav h1 {
  color: white;
  text-align: center;
}

.sidenav a {
  padding: 23px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* text-align: center; */
}
.sidenav a:hover {
  border-width: 50%;
  border-bottom: solid yellow;
}

.menu {
  padding-top: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
  background-image: url(asset/background-image.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 300px 0;
}

.logo img {
  float: right;
  width: 150px;
  height: 150px;
}

.content h1{
  position: absolute;
  left: 600px;
  top: 400px;
}

.content h4{
  position: absolute;
  left: 600px;
  top: 480px;
}

.auto-type {
  border-bottom: yellow solid;
}

.content_2 {
  position: absolute;
  left: 300px;
  top: 1000px;
  background-color: #818181;
  width: 83.3%;
  padding-left: 10px;
}