.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 100%;
  border: rgb(44, 44, 44) solid 7px;
}

.sidenav h1 {
  color: white;
  text-align: center;
}

.sidenav a {
  padding: 23px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* text-align: center; */
}
.sidenav a:hover {
  border-width: 50%;
  border-bottom: solid yellow;
}

.sidenav p {
  position: absolute;
  bottom: 20px;
  left: 25%;
  color: white;
  text-align: center;
}

.menu {
  padding-top: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 10px 50px 10px 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
  background-image: url(asset/background-image.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 300px 0;

  font-family: 'Roboto Slab', sans-serif;
}

.logo img {
  float: right;
  width: 150px;
  height: 150px;
}

.content h1{
  position: absolute;
  left: 600px;
  top: 330px;
}

.content h4{
  position: absolute;
  left: 600px;
  top: 480px;
}

.auto-type {
  border-bottom: yellow solid;
}

.content_2 {
  position: relative;
  left: 0px;
  top: 1000px;
  box-shadow: 15px 15px 30px rgb(48, 48, 48);
  backdrop-filter: blur(10px);
  border:  5px solid transparent;
  border-image: linear-gradient(to right bottom,rgb(52, 233, 218) , white, rgb(52, 233, 218), white, rgb(52, 233, 218), white, rgb(52, 233, 218));
  border-image-slice: 1;
  padding: 20px 50px 20px 50px;
}

/* .intro {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.container_p {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: auto;
  padding-right: 100px;
  padding-left: 200px;
}

.container_p p {
  position: relative;
  top: 25%;
  font-size: 25px;
}

.container_img {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  padding-right: 200px;
}

.intro img {
  height: 498px;
  width: 489px;
} */

.container_intro {
  max-width: 800px;
  margin: 10px auto;
  overflow: hidden;
}

.column_intro {
  float: left;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.description {
  padding: 20px;
}

.skills {
  border: yellow solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 70px;
}

.container_skills {
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
}

.column {
  float: left;
  width: 50%;
}

.box {
  height: auto;
  width: auto;
  border: yellow solid;
  padding: 20px;
  overflow: hidden;
  margin: 0px 0px 50px 0px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  font-size: 23px;
}

/* .box_container {
  border: black solid;
} */

.column_box1_1{
  float: left;
  width: 20%;
}

.column_box1_2{
  float: right;
  width: 80%;
}

.column_box2_1 {
  float: right;
  width: 20%;
}

.column_box2_2 {
  float: left;
  width: 80%;
}

.column_box3_1{
  float: left;
  width: 20%;
}

.column_box3_2{
  float: right;
  width: 80%;
}

.column_box4_1 {
  float: right;
  width: 20%;
}

.column_box4_2 {
  float: left;
  width: 80%;
}

.column_box5_1{
  float: left;
  width: 20%;
}

.column_box5_2{
  float: right;
  width: 80%;
}

input {
  padding: 10px 20px;
  border: solid yellow;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 100px;
}


/* .column_box1 img {
  margin: auto;
} */